
body{
    margin: 0; 
    padding: 0; 
    height: 100%; 
    margin: 0; 
    padding: 0;  
}

.backGround{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: fit-content;
}

.backGround .login-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 350px;
    width: 100%;
}

.backGround .login-container h1 {
    margin-bottom: 20px;
}

.backGround .login-container input {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.backGround .login-container button {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    background-color: #717070;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backGround .login-container button:hover {
    background-color: #6b6b6b;
}

.backGround img[src*="background"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1; /* Keeps the background image behind all other elements */
}

