.event-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    box-sizing: border-box;
    width: 97%;
    min-height: 250px;
    padding: 5px;
}
.event-container .event-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.event-container .event-box .event-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-container .event-box .event-row .input{
    max-width: 420px;
    min-height: 110px;
    font-size: larger;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
    resize: none;
    border-radius: 8px;
}

.event-container .event-box .event-row .input:focus{
    border: 2px solid black;
}
.event-container .event-box .event-row h3{
    margin: 7px;
    margin-right: 3px;
    width: fit-content;
}
.event-container h1{
    align-self: center;
    margin: 0;
    margin-bottom: 10px;
}

.event-container .event-box .event-row {
    display: flex;
    position: relative;
}
.event-container .event-box .event-row .controlBtn{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.event-container .event-box .event-row .controlBtn:hover{
    cursor: pointer;
    border: 3px solid black;
    font-weight: 800;
}

.event-container .event-box .event-row .save-btn{
    display: flex;
    justify-content: center; /* Center the content inside the button */
    align-items: center; /* Center the content inside the button */
    padding: 10px 20px; /* Add some padding for a button-like appearance */
    background-color: #3c8cbd; /* Example button color */ 
    color: white; /* Example text color */
    border-radius: 5px; /* Example rounded corners */
    margin-left: auto; /* Push the button to the right */
    margin-top: auto;
    flex: 1;
}
.event-container .event-box .event-row .save-btn:hover{
    cursor: pointer;
    background-color: #007bff;
    font-weight: bold;
}