.headerContainer {
    display: flex;
    align-items: center; /* Vertical alignment */
    padding: 10px;
    background-color: #3C8CBD;
    color: white;
    max-height: 50px;
    height: 100%;
    font-family: 'Verdana';
    font-size: 25px;
}

.headerContainer .userData {
    margin-left: auto; /* Pushes this to the left */
    max-width: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerContainer .userData img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.headerContainer .title{
    color: black; 
    margin-left: 10px;
}