.leftNavbarCotainer {
    display: flex;
    flex-direction: column;
    width: 200px; /* Fixed width */
    background-color: #222d31;
    height: 100% /* Stretch to fill parent container */;
    min-height: fit-content ;
}

.leftNavbarCotainer .option{
    padding: 15px 10px;
    color: white;
}
.leftNavbarCotainer .option:hover{
    background-color: #314248;
    cursor: pointer;
}

.leftNavbarCotainer .logout{
    margin-top: auto;
}